credentials/
models/
solvers/algorithm_*/
data/benchmarks/*
!data/benchmarks/**/*.uri
data/results/
logs/
outputs/benchmark/
outputs/dpo1/
data/dpo_formatted/
*.pyc
solvers/base
solvers/test
.env
*.md
*.log